.login-from{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-field{
    width: 300px;
}
#login-submit{
    width: 300px;
}
.login-header{
    font-size: 2rem;
    font-family: sans-serif;
    color: var(--secondary-color);
}
.login-input:hover{
    border: none;
    box-shadow: 0 0 8px 0 var(--secondary-color);
}